:root {
  --clr-white: #fff;
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 1px;
  --radius: 5px;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-white);
  color: var(--clr-black);
  line-height: 1.5;
  font-size: 16px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
p {
  margin-bottom: 15px;
}
/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Menu
===============
*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 10px 10px var(--light-shadow);
  max-width: var(--max-width);
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--clr-white);
}
.header a {
  text-decoration: none;
  font-size: 24px;
  color: var(--clr-black);
}
.header__icons {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  top: 3px;
}
.header__icons button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--clr-black);
  font-size: 16px;
}
.menu {
  padding: 50px 0;
}
.main__filters {
  margin-bottom: 32px;
  text-align: center;
}
.btn__container {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
.filter-btn {
  background: transparent;
  border-color: transparent;
  font-size: 14px;
  text-transform: capitalize;
  /* margin: 0 8px; */
  letter-spacing: 1px;
  padding: 4px 8px;
  color: var(--clr-black);
  cursor: pointer;
  transition: var(--transition);
  /* border-radius: var(--radius); */
}
.filter-btn:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.section__center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 30px;
  justify-items: center;
}
.menu__item {
  max-width: 400px;
  width: 100%;
  box-shadow: var(--light-shadow);
  padding: 16px;
  border-radius: var(--radius);
}
.menu__photo {
  object-fit: cover;
  height: 300px;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
.menu__info header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.menu__price {
  color: rgba(0, 0, 0, 0.5);
}
.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}
.input__box {
  position: relative;
  width: 200px;
  margin: 0 auto;
}
.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  color: var(--clr-black);
}
.search-input {
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  outline: none;
  background-color: transparent;
  padding: 8px 20px 8px 10px;
  /* border-radius: 5px; */
  width: 100%;
}
.search-input::placeholder {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: var(--clr-black);
  letter-spacing: 0.5px;
}
.to-top {
  position: fixed;
  right: 30px;
  bottom: 40px;
  width: 35px;
  height: 35px;
  background-color: var(--clr-black);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  line-height: 30px;
}
.to-top a {
  color: var(--clr-white);
  font-size: 36px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  cursor: pointer;
  height: 200px;
}
@media screen and (min-width: 768px) {
  .section__center {
    width: auto;
    grid-template-columns: 1fr 1fr;
  }
  .menu__photo {
    height: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .section__center {
    width: 95vw;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .menu__photo {
    height: 350px;
  }
  .main_section {
    display: flex;
  }
  .main__filters {
    margin-right: 20px;
    text-align: left;
  }
  .btn__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
  .filter-btn {
    margin: 0;
    font-size: 16px;
  }
  .input__box {
    margin: 0 auto 0 0;
  }
}
